<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>username</key>
	<string>yourUsername</string>
	<key>api_key</key>
	<string>yourApikey</string>
	<key>auth_url</key>
	<string>https://identity.api.rackspacecloud.com/v2.0/tokens</string>
</dict>
</plist>
